# Модели и датасеты
*.joblib
*.pkl
*.h5
*.pt
*.onnx
*.parquet
*.csv
datasets/
data/

# Python bytecode
__pycache__/
*.pyc
# Исключаем большие файлы
*.joblib
*.parquet
*.zip
*.csv

# Папка с моделями и данными
traffic_analyzer/data/*
datasets/*

# Но оставляем важные текстовые/настройки
!traffic_analyzer/data/.keep
!datasets/.keep
